.loginPanel {
	padding: 50px;
}

.mainPanel {
	border: 4px solid blue;
}

.tableListPanel {
	padding: 0px;
	margin: 0px;
}

.tableListPanel a {
	padding: 10px;
	display: block;
}

.tableListPanel a.selected {
	background-color: blue;
}
	